body {
    font-family: Arial;
    text-align: center;
    background: #eef1f5;
}

h1 {
    margin-top: 20px;
}

.input-box {
    margin-top: 20px;
}

input {
    padding: 10px;
    margin: 10px;
    width: 260px;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 6px;
}

button {
    padding: 10px 20px;
    background: #0a66c2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.map-container {
    position: relative;
    width: 700px;
    margin: 30px auto;
}

#campusMap {
    width: 100%;
    border: 2px solid black;
}

#routeCanvas {
    position: absolute;
    top: 0;
    left: 0;
}
